[submodule "AvaloniaGif"]
	path = AvaloniaGif
	url = https://github.com/jmacato/AvaloniaGif
[submodule "notify-sharp"]
	path = notify-sharp
	url = https://github.com/hyperair/notify-sharp
[submodule "WaniKaniApi-net"]
	path = WaniKaniApi-net
	url = https://github.com/MartinZikmund/WaniKaniApi-net
