.DS_Store
HouhouSetup/Output
Kanji.Common/obj
Kanji.Common/bin
Kanji.Database/obj
Kanji.Database/bin
Kanji.DatabaseMaker/obj
Kanji.DatabaseMaker/bin
Kanji.DatabaseMaker.WaniKani/obj
Kanji.DatabaseMaker.WaniKani/bin
Kanji.Interface/obj
Kanji.Interface/bin
**/obj
**/bin
*.suo
UpgradeLog.htm
.nuget
/Kanji.DatabaseMaker/Resources/JMdict.xml
/Kanji.DatabaseMaker/Resources/kanjidic2.xml
/Kanji.Interface/Data/KanjiDatabase.sqlite
.vs
.vscode
